.venuelist__items ul li {
  color: #4a4a4a;
  font-weight: 500;
  margin-bottom: 3px;
  cursor: pointer;
  font-size: 14px;
}

.venuelist__items ul > li:hover {
  transform: scale(1.01);
  font-weight: 700;
}

.navbar__popup {
  position: absolute;
  right: 38%;
  top: 105px;
  margin: 0 auto;
  z-index: 999999;
}
