.banner {
  background-image: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("../../../public/banner2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner__content {
  height: 70vh;
}
